body
{
	/* Background pattern from https://www.toptal.com/designers/subtlepatterns/ */
	background-image: url("../img/prism.png");
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: white;
	margin: 0 !important;
}

.balance-width
{
	width: 33.33%;
}

.div-balance-buttons
{
	width: 650px;
}

.div-form-buttons
{
	width: 250px;
}

.mt-neg
{
	margin-top: -0.05rem !important;
}

.text-light:hover {
  color: #000000 !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.dropdown-menu-dark .dropdown-item:hover, .dropdown-menu-dark .dropdown-item:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-my-color:hover
{
	background-color: #909090;
}

.li-change-color:hover
{
	background-color: #909090;	
}

.li-change-color:active
{
	background-color: #202020;	
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
  color: #fff;
  background-color: #202020;
}

.dropdown-menu-dark
{
	color: #dee2e6;
	background-color: #140303;
	border-color: rgba(0, 0, 0, 0.15);
}

.container-fluid
{
	margin: 0;
	padding: 0;
} 

p
{
	color: white;
	text-align: center;
	margin: 0;
}

.set-margin
{
	margin: 0 auto;
}

.p-content
{
	color: white;
	text-align: justify;
}

.p-input-radio
{
	color: white;
	text-align: left;
}

.bo
{
	color: #ffffff;
	text-align: center;
	font-size: 24px;
	font-style: italic;
	margin-top: 0;
}

h1
{
	font-family: 'Rubik Distressed', cursive;
	color: #ffffff;
	font-size: 72px;
	text-align: center;
	margin-bottom: 0;
}

h3
{
	font-size: 30px;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
}

.content 
{
	background-color: #272020;	
	min-height: 300px;
	border-radius: 15px;
}

.top-bar
{
	background-color: #140303;
	border-radius: 15px;
}

.log-in-or-register
{
	border-right: 2px solid #ccc; 
}

.submit2
{
/*	text-align: center; */
	margin-left: 10px;
}

.submit
{
	width: 100%;
	text-align: center;
}

@media (min-width: 1900px)
{
	.col-xxl-3 
	{
		flex: 0 0 auto;
		width: 18%;
	}
	.col-xxl-8 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 2200px)
{
	.col-xxl-3 
	{
		flex: 0 0 auto;
		width: 15%;
	}
}

@media (min-width: 721px) and (max-width: 991px)
{
	.w-75 
	{
		width: 25% !important;
	}
}

@media (max-width: 720px)
{
	.w-75 
	{
		width: 50% !important;
	}
	.flex-row
	{
		flex-direction: column !important;
	}
	.div-balance-buttons
	{
		width: 250px;
	}
	.balance-width
	{
		width: 100%;
	}
	.small-text
	{
		text-align: center;
		margin-left: 0px;
		margin-top: 20px;
	}
	.p-input-radio
	{
		text-align: center;
	}
}

@media (max-width: 991px)
{
	.padding-991 
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 1500px)
{
	.col-xxl-9 
	{
		flex: 0 0 auto;
		width: 1250px;
	}
}

@media (max-width: 430px)
{
	h1
	{
		font-size: 50px;
	}
}

