body
{
	/* Background pattern from https://www.toptal.com/designers/subtlepatterns/ */
	background-image: url("img/prism.png");
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: white;
}

p
{
	color: white;
	text-align: center;
	margin: 0;
}

.p-login
{
	color: white;
	text-align: center;
	margin-top: 0;
}

.p-content
{
	color: white;
	text-align: justify;
}

.p-input
{
	color: white;
	text-align: left;
	margin-top: 0;
}

.p-input-radio
{
	color: white;
	font-weight: bold;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bo
{
	color: #ffffff;
	text-align: center;
	font-size: 24px;
	font-style: italic;
	margin-top: 0;
}

h1
{
	font-family: 'Rubik Distressed', cursive;
	color: #ffffff;
	font-size: 72px;
	text-align: center;
	margin-bottom: 0;
}

h2
{
	font-size: 30px;
	color: #ffffff;
	margin-top: 20px;
	
}

h3
{
	font-size: 30px;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
	
	
}

.content 
{
	width: 1420px;
	background-color: #272020;	
	min-height: 300px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 40px;
	border-radius: 15px;
}

#top-bar
{
	width: 1494px;
	background-color: #140303;
	min-height: 50px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	border: 3px solid #000;
}

.top
{
	border: 2px solid #ccc;
	border-radius: 30px;
}

.bottom
{
	background-color: #333333;
	border: 2px solid #fff;
	border-radius:15px;
}

.bottom-content
{
	width: 1468px;
	padding: 15px;
	background-color: #333333;
	border: 1px solid #696969;
	border-radius:20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.top-personal-budget
{
	width: 800px;
	border: 1px solid #ccc;
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.columns100
{
	width: 100%; 
	display: flex;
	margin-bottom: 10px;
}

.log-in
{
	margin-top: 20px;
	width: 802px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.log-in-or-register
{
	border: 2px solid #ccc; 
	border-radius: 30px;
}

/*
.log-in-or-register:first-child
{
	margin-right: 20px;
} */

input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]
{
	width: 300px;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #37b93d;
}

.col-1
{
	width: 20%;
}

.col-2
{
	width: 45%;
}

.submit
{
	width: 100%;
	text-align: center;
}

input.submit2[type=submit]
{
	width: 300px;
	background-color: #8c630a;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input.submit2[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input.submit2[type=submit]:hover
{
	background-color: #9d741b;
}

textarea
{
	background-color: #f2f2f2;
	color: #666;
	padding:15px;
	width: 250px;
	resize: vertical;
	margin-bottom:15px;
	margin-top: 0;
	margin-left: 10px;
}

textarea:focus
{
	box-shadow: 0px 0px 10px 2px rgba(9,26,45,0.4);
	border-radius: 5px;
	border: 2px solid #83AD2F;
	background-color: #f5fbea;
	color: #83AD2F;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date]
{
	background-color: #f2f2f2;
	color: #666;
	width: 200px; 
	height: 40px;
	box-sizing: border-box;
	margin-top: 0;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus
{
	box-shadow: 0px 0px 10px 2px rgba(9,26,45,0.4);
	border-radius: 5px;
	border: 2px solid #83AD2F;
	background-color: #f5fbea;
	color: #83AD2F;
}

.div-input
{
	display: flex;
	margin-bottom: 10px;
}

.col-text
{
	width: 80px;
}

.col-text2
{
	width: 240px;
	margin-top: 30px;
}

.col-input
{
	width: 100px;
}

.col-input-2
{
	width: 200px;
	margin-top: 30px;
}

.col-input-3
{
	width:300px;
}

.menu-select
{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 800px;
}

.select-option
{
	padding: 10px 20px;
}

.div-input-text-area
{
	display: flex;
	margin-top: 10px;
}

.inputs-body
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.radio-gap 
{
	margin-bottom: 5px;
}

ul
{
	height: 35px;
	line-height: 200%;
	list-style-type: none;
	display: flex;
}

ul a
{
	color: #fff;
	text-decoration: none;
	display: block;
}

ul a:hover
{
	color: #000000;
}

ul > li > ol > li > a
{
	color: #fff;
}

ul > li > ol > li > a:hover
{
	color: #fff;
}

ul > li
{
	padding-left: 0px;
	padding-right: 0px;
	width: 200px;
	height: 40px;
	text-align: center;
	border-right: 1px dashed #fff;
	margin-bottom: 0;
}

ul > li:hover
{
	background-color: #797979;
}

ul > li:first-child
{
	border-left: 1px dashed #fff;
}
ul > li:last-child
{
	border-left: 1px dashed #fff;
	margin-left: 170px; 
}

ul > li > ol 
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none; 
}

ul > li > ol > li
{
	background-color:#353535;
	position: relative;
	z-index: 100;  
	border-top: 1px dashed #fff;
	width: 200px;
	padding: 0;
	margin: 0;
}
ul > li > ol > li:last-child
{
	border-bottom: 1px dashed #fff;
}



ul > li:hover > ol
{
	display: flex;
	flex-direction: column;
}  

ul > li > ol > li:hover
{
	background-color: #131313;
}



